<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509676674284-t3ukv7h2leon0loqfk9ie432c8cgo1a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509676674284-t3ukv7h2leon0loqfk9ie432c8cgo1a2</string>
	<key>API_KEY</key>
	<string>AIzaSyCf5IojC0lHw_ynZp8RQgx757z0J9eGsb4</string>
	<key>GCM_SENDER_ID</key>
	<string>509676674284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.escocar.sshApp</string>
	<key>PROJECT_ID</key>
	<string>ssh-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ssh-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509676674284:ios:0dd0dbb264dede793099c9</string>
</dict>
</plist>